<a href="https://colab.research.google.com/github/N-A-F-I-Z/SkillMorph_Projects/blob/main/Class2_Nafiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction**

In [ ]:
print("hello world")

hello world

## **Variable**

In [ ]:
# Creating variables
name = "riaz" #string
age = 40 #int
is_student = True  #boolean
height = 5.9 #float
# Printing variables
print("Name:", name)
print("Age:", age)
print("Student status:", is_student)
print("Height:", height, "feet")

Name: riaz
Age: 40
Student status: True
Height: 5.9 feet

In [ ]:
name = "Tasnim"
address = 'Dhaka'
age = 25
price = 99.99
is_valid = True
has_paid = False
result = None
print(type(address))
print(type(has_paid))
print(type(result))
print(type(is_valid))

<class 'str'>
<class 'bool'>
<class 'NoneType'>
<class 'bool'>

In [ ]:
a = 52
b = 7
print(a + b)  # Addition: 13
print(a - b)  # Subtraction: 7
print(a * b)  # Multiplication: 30
print(a / b)  # Division: 3.333...
print(a // b) # Floor division: 3
print(a % b)  # Modulus (remainder): 1
print(a ** b) # Exponentiation: 1000

59
45
364
7.428571428571429
7
3
1028071702528

In [ ]:
first = "Hello"
last = "World"
# Concatenation
full = first + " " + last
print(full)  # Hello World
# Repetition
repeated = first * 3
print(repeated)  # HelloHelloHello#
#Length
print(len(full))  # 11

Hello World
HelloHelloHello
11

## **Data Structure**

In [ ]:
# Creating a list
fruits = ["apple", "banana", "orange", "mango","pineapple"]
# Accessing elements (indexing starts at 0)
print(fruits[0])       # apple
print(fruits[1])       # banana
# Negative indexing (counts from the end)
print(fruits[-1])      # pineapple
# Slicing lists
print(fruits[1:4])     # ['banana', 'orange’]
# Changing an element
fruits[1] = "grape"
print(fruits)          # ['apple', 'grape', 'orange', 'mango']

apple
banana
pineapple
['banana', 'orange', 'mango']
['apple', 'grape', 'orange', 'mango', 'pineapple']

In [ ]:
#Adding Elements in List
fruits = ["apple", "banana"]
fruits.append("orange")    # Add to end ["apple", "banana", "orange"]
fruits.insert(1, "mango")  # Insert at position
print(fruits)  # ['apple', 'mango', 'banana', 'orange']

['apple', 'mango', 'banana', 'orange']

In [ ]:
#Removing Elements in List
fruits = ["apple", "mango", "banana", "orange"]
fruits.remove("mango")    # Remove by value, updated list: apple, banana, orange
popped = fruits.pop()    # Remove & return last item, apple, banana
print(popped) # orange
print(fruits) # ['apple', 'banana']

orange
['apple', 'banana']

In [ ]:
#organinzing list
fruits = ["orange", "apple", "mango", "banana"]
fruits.sort() # Alphabetical order
print(fruits) # ['apple', 'banana', 'mango', 'orange’]
fruits.reverse() # Reverse order
print(fruits) # ['orange', 'mango', 'banana', 'apple']

['apple', 'banana', 'mango', 'orange']
['orange', 'mango', 'banana', 'apple']

In [ ]:
# Creating a dictionary key:value
student = {
"name": "Fahim",
"age": 21,
"university": "AMU",
"courses": ["Python", "Data Science", "Web Development"]}
# Accessing values using keys
print(student["name"])      # Fahim
print(student["courses"][0])  # Python
# Adding or modifying items
student["phone"] = "01716602312"
student["age"] = 22
# Checking if a key exists
if "email" in student:
  print("Email found")
else:
  print("No email found")   # No email found

Fahim
Python
No email found

In [ ]:
# Creating a tuple
coordinates = (10.5, 20.8)
rgb_color = (255, 0, 128)
# Accessing elements
print(coordinates[0])    # 10.5
print(rgb_color[2])      # 128
# Attempting to change (will cause error)
# rgb_color[0] = 200  # TypeError!
# Length of tuple
print(len(rgb_color))    # 3

10.5
128
3

In [ ]:
# Tuple with different data types
mixed = ("Dhaka", 23.8, True, 2023)
# Single-item tuple needs a comma
single = (42,)  # Without comma: just an int
print(mixed)
print(single)

('Dhaka', 23.8, True, 2023)
(42,)

In [ ]:
# Creating a set
fruits = {"apple", "banana", "orange", "apple"}
print(fruits)  # {'orange', 'banana', 'apple'} (no duplicates)
# Adding elements
fruits.add("mango")
fruits.update(["grape", "kiwi"])
print(fruits)
# Removing elements
fruits.remove("banana")  # Raises error if not found
fruits.discard("pear")
# Set operations
bangladeshi_fruits = {"mango", "jackfruit", "banana"}
imported_fruits = {"apple", "kiwi", "banana"}
# Union (all elements from both sets)
all_fruits = bangladeshi_fruits | imported_fruits
print(all_fruits)
# Intersection (common elements)
common = bangladeshi_fruits & imported_fruits  # {'banana'}
print(common)

{'banana', 'orange', 'apple'}
{'banana', 'orange', 'grape', 'kiwi', 'apple', 'mango'}
{'apple', 'kiwi', 'banana', 'jackfruit', 'mango'}
{'banana'}

## **String**

In [ ]:
s1 = 'Hello'
s2 = "World"
# Accessing characters
text = "Python"
print(text[0])   # P
print(text[-1])  # n

#Slicing
text = "Python"
print(text[0:3])  # Pyt
print(text[2:])   # thon
print(text[:4])   # Pyth

#Concatenation
a = "Hello"
b = "Python"
result = a + " " + b

#Repetition
print("Hi" * 3)

#length
len("Python")    # 6

#Convert case
"python".upper()       # PYTHON
"Hello".lower()        # hello
#Replace text
"Hello Python".replace("Python", "World")

P
n
Pyt
thon
Pyth
HiHiHi

'Hello World'

## **Assignment**

In [ ]:
# 1. Create variables for your name, age, and favorite color, then print them with descriptive labels.
# 2. Create one variable of each type and use the type() function to verify its type.
# 3. Calculate the area and perimeter of a rectangle with length 7 and width 5.
# 4. Create a list of 5 Bangladeshi foods, then access the first and last elements.
# 5. Create a list of 5 numbers, add a new number, remove one, and then sort the list.
# 6. Create a dictionary about yourself with at least 4 key-value pairs.
# 7. Create a tuple with the latitude and longitude of a famous place in Bangladesh.
# 8. Create two sets of colors and find their union and intersection.
# 9. Write a Python function that takes a string as input and prints the first and last character of the string.
# 10. Write a Python function that takes a string and converts it to uppercase.

In [ ]:
#1 Sol:
name = "Nafiz"
age = 23
fav_clr = "Black"

print("Name:", name)
print("Age:", age)
print("Favourite Color:", fav_clr)

Name: Nafiz
Age: 23
Favourite Color: Black

In [ ]:
from types import AsyncGeneratorType
#2 Sol:
print(type(name))
print(type(AsyncGeneratorType))
print(type(fav_clr))

<class 'str'>
<class 'type'>
<class 'str'>

In [ ]:
#3 Sol:
length = 7
width = 5

perimeter = (length + width)*2
area = (length * width)

print("Perimeter:", perimeter)
print("Area:", area)

Perimeter: 24
Area: 35

In [ ]:
#4 Sol:
fruits = ["Mango", "Jackfruit", "Guava", "Banana", "Lichi"]

first_item = fruits[0]
last_item = fruits[-1]

print(fruits)
print("First Item:", first_item)
print("Last Item:", last_item)

['Mango', 'Jackfruit', 'Guava', 'Banana', 'Lichi']
First Item: Mango
Last Item: Lichi

In [ ]:
#5 Sol:
numbers = [1, 2, 3, 4, 5]
numbers.append(6)
numbers.remove(3)
numbers.sort()

print(numbers)

[1, 2, 4, 5, 6]

In [ ]:
#6 Sol:
my_profile = {
    "Name" : "Nafiz",
    "Age" : 23,
    "Uni" : "RUET",
    "Interests" : ["GIS", "RS", "Python", "DS", "ML", "DL"]
}

print(my_profile)

{'Name': 'Nafiz', 'Age': 23, 'Uni': 'RUET', 'Interests': ['GIS', 'RS', 'Python', 'DS', 'ML', 'DL']}

In [ ]:
#7 Sol:
Ahsan_Manzil = (90.4061, 23.7086) #(long, lat)

print(Ahsan_Manzil)

(90.4061, 23.7086)

In [ ]:
#8 Sol:
C1 = {"Black", "White", "Red"}
C2 = {"White", "Blue", "Green"}

print("Union:", C1|C2)
print("Intersection:", C1&C2)

Union: {'Black', 'White', 'Green', 'Red', 'Blue'}
Intersection: {'White'}

In [ ]:
#9 Sol:
def first_last(string):
  print("First Character:", string[0])
  print("Last Character:", string[-1])
  return

first_last("Bangladesh")

First Character: B
Last Character: h

In [ ]:
# 10 Sol: Write a Python function that takes a string and converts it to uppercase.
def to_upper(string):
  return string.upper()

to_upper("Bangladesh")

'BANGLADESH'